/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --bg-body: #222;
    --bg-container: #666;
    --text-todo: #fff;
}

/* light mode */
@media (prefers-color-scheme: light){
    :root{
        --bg-body: #fff;
        --bg-container: #ccc;
        --text-todo: #000;
    }
}

/* Common */
body{
    padding-top: 40px;

    font-family: 'Lato', sans-serif;
    font-weight: 400;

    background-color: var(--bg-body);
    color: var(--text-todo);
}


/* header */
.logo{
    height: 85px;
    margin-bottom: 20px;
}
header{
    text-align: center;
    margin-bottom: 80px;
}

/* main */
.container{
    max-width: 1200px;
    min-height: 40px;
    background-color: var(--bg-container);
    margin: auto;
    padding: 10px 25px;
}

.container ul{
    list-style-type: none;
    font-size: 20px;
    font-weight: 700;
}

.container ul li:not(:first-child)::before{
    content: '';
    height: 3px;
    width: 100%;
    background-color: var(--bg-body);
    position: absolute;
    top: 0;
    left: 0;
}

.container ul li{
    position: relative;
    padding: 15px 0;
    display: flex;
}

.container ul li i{
    margin-left: auto;
    margin-right: 20px;
    color: var(--bg-body);
}

.container ul li button{
    margin-right: 10px;
}

.checked{
    color: rgb(24, 168, 31);
    text-decoration: line-through;
}